<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.4">
	<servlet>
		<servlet-name>Browse servlet</servlet-name>
		<servlet-class>ua.nure.kn.mironova.usermanagement.web.BrowseServlet
		</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>Add servlet</servlet-name>
		<servlet-class>ua.nure.kn.mironova.usermanagement.web.AddServlet
		</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>Edit servlet</servlet-name>
		<servlet-class>ua.nure.kn.mironova.usermanagement.web.EditServlet
		</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>Details servlet</servlet-name>
		<servlet-class>ua.nure.kn.mironova.usermanagement.web.DetailsServlet
		</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Browse servlet</servlet-name>
		<url-pattern>/browse</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Add servlet</servlet-name>
		<url-pattern>/add</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Edit servlet</servlet-name>
		<url-pattern>/edit</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Details servlet</servlet-name>
		<url-pattern>/details</url-pattern>
	</servlet-mapping>
</web-app>